.git
BraveSoftware
Electron/
Element/
GIMP/
Kvantum/
QtProject.conf
aseprite
autostart
baloofileinformationrc
beets
bluetuith/
cava/config
dconf/
discord
dolphinrc
dunst/dunstrc
ffqueue/
fontconfig/
gh/
ghb/
ghostty/colors-wallust
go/
gtk-3.0/
gtk-4.0
htop/
hypr/wallust/colors-hyprland.conf
inkscape/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
kew
kitty/wallust/colors-kitty.conf
kwalletrc
libreoffice/
spotify/
spicetify/
mimeapps.list
mpv/
nwg-look/
obs-studio/
pavucontrol.ini
pulse/
qmk
quickshell
rofi/theme.rasi
script/theme/current.jpg
script/theme/last_wallpaper_path
session/
simple-update-notifier/
startpage/colors.css
torbrowser
trashrc
tuxedo-control-center
unity3d/
user-dirs.dirs
user-dirs.locale
vesktop/
vlc/
waybar/wallust/colors-waybar.css
xsettingsd/

linux-discord-rich-presencerc
mpd/database
script/currentsong