autostart
tuxedo-control-center
.git
gtk-4.0
cava/config
dunst/dunstrc
ghostty/colors-wallust
hypr/wallust/colors-hyprland.conf
kitty/wallust/colors-kitty.conf
rofi/theme.rasi

script/theme/current.jpg
script/theme/last_wallpaper_path

startpage/colors.css
waybar/wallust/colors-waybar.css

kew

discord

mpd/database


Electron/
Element/
GIMP/
Kvantum/
QtProject.conf
baloofileinformationrc
bluetuith/
dconf/
dolphinrc
ffqueue/
fontconfig/
gh/
ghb/
go/
gtk-3.0/
htop/
inkscape/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
libreoffice/
mimeapps.list
mpv/
nwg-look/
obs-studio/
pavucontrol.ini
pulse/
session/
simple-update-notifier/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vesktop/
vlc/
xsettingsd/
