
* {
   font:                        "CozetteVector 12";

    background:			 {{background}};
    background-alt:              {{background}};
    foreground:                  {{foreground}};
    selected:                    {{color1}};
    active:                      {{color1}};
    urgent:                      {{color3}};

}
