:root {
    --background:  #222723;
    --foreground:  #FEFAD7;
    --color0:      #4D524D;
    --color1:      #CE3F7E;
    --color2:      #5C53C1;
    --color3:      #E8616A;
    --color4:      #FD9327;
    --color5:      #62BDDB;
    --color6:      #FDEC55;
    --color7:      #F6F0BE;
    --color8:      #ACA885;
    --color9:      #CE3F7E;
    --color10:     #5C53C1;
    --color11:     #E8616A;
    --color12:     #FD9327;
    --color13:     #62BDDB;
    --color14:     #FDEC55;
    --color15:     #F6F0BE;
}
