:root {
    --background:  #2A2626;
    --foreground:  #CCFFAA;
    --color0:      #565251;
    --color1:      #A17245;
    --color2:      #7954AE;
    --color3:      #2297BD;
    --color4:      #37B175;
    --color5:      #7CB9DE;
    --color6:      #6BFF08;
    --color7:      #AEF67E;
    --color8:      #7AAD58;
    --color9:      #A17245;
    --color10:     #7954AE;
    --color11:     #2297BD;
    --color12:     #37B175;
    --color13:     #7CB9DE;
    --color14:     #6BFF08;
    --color15:     #AEF67E;
}
