:root {
    --background:  #100008;
    --foreground:  #D8FFF1;
    --color0:      #160411;
    --color1:      #678145;
    --color2:      #E72C2F;
    --color3:      #944DC0;
    --color4:      #E2C158;
    --color5:      #73BEFD;
    --color6:      #56FFC4;
    --color7:      #BFF7E3;
    --color8:      #86AD9F;
    --color9:      #678145;
    --color10:     #E72C2F;
    --color11:     #944DC0;
    --color12:     #E2C158;
    --color13:     #73BEFD;
    --color14:     #56FFC4;
    --color15:     #BFF7E3;
}
