
* {
   font:                        "JetBrains Mono Nerd Font 10";

    background:			 #100008;
    background-alt:              #100008;
    foreground:                  #D8FFF1;
    selected:                    #678145;
    active:                      #678145;
    urgent:                      #944DC0;

}
