
* {
   font:                        "JetBrains Mono Nerd Font 10";

    background:			 #2A2626;
    background-alt:              #2A2626;
    foreground:                  #CCFFAA;
    selected:                    #A17245;
    active:                      #A17245;
    urgent:                      #2297BD;

}
