@import "wallust/colors-waybar.css";

* {
  font-family:"Nerd Font","CozetteVector";
  font-size: 13px;
  font-weight: bold;
  min-height: 10px;
}

#waybar {
  background-color: transparent;
  color: @color9;
}

#workspaces {
  border-radius: 0.5rem;
  background-color: @background;
  margin-left: 10px;
  padding:0;
}

#workspaces button {
  color: @color5;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
}

#workspaces button.active {
  color: @color7;
}

#workspaces button:hover {
  box-shadow: none; 
  text-shadow: none; 
  background: none; 
  transition: none; 
  border: none;
}

#bluetooth,
#temperature,
#network,
#workspaces,
#cpu,
#disk,
#memory,
#custom-music,
#custom-wall,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
    margin-top:4px;
}

#custom-wall,
#bluetooth,
#custom-music,
#cpu,
#disk,
#network,
#tray,
#backlight,
#temperature,
#clock,
#memory,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @background;
  padding: 0.5rem 0.5rem;
}

#clock {
  color: @color7;
  border-radius: 0px 0.5rem 0.5rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @color6;
}

#battery.warning:not(.charging) {
  color: orange;
}
#battery.critical:not(.charging) {
  color: red;
}

#backlight {
  color: @color6;
}

#backlight, #battery {
  border-radius: 0;
}
#bluetooth {
    color : @color4;
}

#pulseaudio.output {
  color: @color3;
  border-radius: 0.5rem 0px 0px 0.5rem;
  margin-left: 1rem;
}
#pulseaudio.input {
  color: @color3;
}

#custom-music {
  color: @color3;
  border-radius: 0.5rem;
  margin-left: 1rem;
}
#custom-wall {
  color: @color4;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

#tray {
  margin-right: 10px;
  border-radius: 0.5rem;
}

#cpu {
  color: @color7;
  border-radius: 0.5rem 0 0 0.5rem;
}

#disk {
  color: @color5;
}

#memory {
  color: @color6;
}

#network {
   color: @color5;
}

#temperature {
  color: @color4;
  border-radius: 0px 0.5rem 0.5rem 0px;
}
