[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Openfront

# The path to the folder in which the executable is run

# The executable of the application, possibly with arguments.
Exec=brave --app=https://openfront.io

# The name of the icon that will be used to display this entry
Icon=/home/user/images/icons/zephyr.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

Categories=Gaming;game;